//colors
$color-background: #000000;
$font-color: #ffff;
$color-light: #ffff;
$color-primary: #de1f1f;
// spacing
$spacing-tiny: 8px;
$spacing-small: 16px;
$spacing-medium: 24px;
$spacing-large: 48px;
$spacing-x-large: 96px;